doctype html

html(lang="en")

    head
        title Grids ftw! 
        link(rel="stylesheet", href="main.css")

    body
        header.banner
            h1.banner__heading It's alive and well, yeah!

        main.main
            h1.main__heading Yo!

        aside.aside
            h1.aside__heading Bang!
        
        footer.footer
            p Footer goes here