doctype html

html(lang="en")

    head
        title My Resume
        link(rel="stylesheet", href="main.css")

    body
        .container

            header.banner(role="banner")
                h1.banner__heading It's alive and well, yeah!

            main.main(role="main")
                h1 Yo!