/*
 * ─── VARIABLES ─────────────────────────────────────────────────────────
 */

@custom-media --narrow-window (min-width: 30em);

:root {
    /* theme colors - thanks to shades of purple colors */
    /* TODO investigate on how to name those best */
    --theme-color-background: #2d2b55;
    --theme-color-background-dark: #1e1e3f;
    --theme-color-foreground: #a599e9;
    --theme-color-hover-background: #4d21fc;
    --theme-color-contrast: #fad000;
    --theme-color-contrast-lite: #ffee80;
    --theme-color-contrast-lite-II: #faefa5;
    --theme-color-highlight: #ff7200;
    --theme-color-comment: #b362ff;
    --theme-color-constants: #ff628c;
    --theme-color-keywords: #ff9d00;
    --theme-color-other: #9effff;
    --theme-color-strings: #a5ff90;
    --theme-color-templates: #3ad900;
    --theme-color-definitions: #fb94ff;
    --theme-color-invalid: #ec3a37f5;
    --theme-color-diff-added: #00ff009a;
    --theme-color-diff-removed: #ff000d81;

    --clr-page-background: var(--clr-gradient-primary);
    --clr-content-box-background: var(--theme-color-background);
    --clr-content-box-shadow: var(--theme-color-background-dark);
    --clr-font-color: var(--theme-color-other);

    --clr-background-light: #fff;
    --clr-background-dark: var(--theme-color-background-dark);
    --clr-font-color-dark: var(--theme-color-hover-background);

    --clr-gradient-primary: linear-gradient(
        to bottom,
        var(--theme-color-foreground) 0%,
        var(--theme-color-definitions) 100%
    );

    --clr-gradient-link-hover: linear-gradient(
        to right,
        var(--theme-color-constants) 0%,
        var(--theme-color-keywords) 100%
    );

    --font-size: 16px;
    --font-stack: Monaco, Helvetica, Arial;
}
